@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Open+Sans:wght@400;600;800&family=Tiro+Bangla:ital@0;1&family=Work+Sans:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tiro Bangla', serif;
    font-family: 'Work Sans', sans-serif;
}



/* Header */

header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 100px;
}



.header-icon {
    height: 40px;
    width: 80px;

}

.icon-title {
    margin-left: 100px;
    align-items: center;
}

.section-title {
    margin-top: 40px;
    font-family: 'Work Sans';
    font-size: 45px;
    font-weight: 700;

}

.nav-icon {
    height: 24px;
    width: 30px;
}

.section-title-g {
    color: #FF42A5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -40px 0 0 0;

}

nav div {
    display: flex;
}

header nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;

}

nav li a {
    text-decoration: none;
    color: #3C354F;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
}

.follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 250px;
    height: 40px;
    padding-left: 24px;
    margin-right: 100px;
    text-align: center;
    align-items: center;

}

/* Banner */
.banner {
    display: flex;
    justify-content: space-between;
    

}

.banner img {
    height: 500px;
    width: 400px;
    margin-right: 150px;
}

.banner-title {
    color: #0B0223;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
}

.banner-content li {
    list-style: none;
    color: #534C64;
    font-size: 15px;
    font-weight: 500;

}

.banner-content {
    margin-left: 100px;
    margin-top: 80px;
}

.btn-primary {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    display: inline-flex;
    padding: 18px 30px;
    align-items: flex-start;
    gap: 20px;
    color: #FFF;
    font-size: 15x;
    font-weight: 600;
    border: none;

}

.btn-secondery {
    border-radius: 48px;
    background: #4EC5F7;
    display: inline-flex;
    padding: 18px 30px;
    align-items: flex-start;
    color: #FFF;
    font-size: 15x;
    font-weight: 600;
    border: none;
}

/* Online game */

.online-title {
    color: #0B0223;
    font-size: 48px;
    text-align: center;
    margin-top: 600px;
    margin-bottom: 0;
}

.online-title-decoration {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.online-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.online-games-image img {
    width: 250px;
    height: 300px;
    display: flex;
}

.image-description {
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
}

.online-games .online-games-image {
    display: flex;
    gap: 10px;
    margin-left: 150px;
}

/* Play instantly */

.play-title {
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
    text-align: right;
}

.play-title-decoration {
    color: #F948B2;
}

.play-description {
    color: #534C64;
    text-align: right;
    font-weight: 400;
    width: 200px;
    padding-left: 100px;
}

.play-instantly {
    display: flex;
    justify-content: space-between;
}

.container2 {
    align-items: center;
    padding-top: 150px;
    padding-left: 200px;
}

.play-img>img {
    width: 450px;
    height: 500px;
    border-radius: 8px;
    padding-right: 200px;
    margin-top: 70px;
}

.side-img {
    width: 200px;
    height: 230px;
    border-radius: 8px;
    position: relative;
    bottom: 180px;
    left: -100px;
}

/* mini games */

.mini-games {
    border-radius: 50px;
    border: 1px solid pink;
    width: 180px;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px;
    margin-left: 220px;
}

.mini-img {
    height: 30px;
    width: 30px;
}

.mini-games div {
    display: flex;
    align-items: center;


}

.mini-games p {
    color: #0B0223;
    font-weight: 500;
    font-size: 15px;

}

.mini-games-container {
    display: flex;
}


/* footer */
.footer {
    background: #0B0223;
    margin-top: 250px;
    
}

.footer-title {
    display: flex;
    color: #FFF;
}
.footer-title-all{
    display: flex;
    justify-content: center;
    
}

.footer-title-all img{
    height: 30px;
    width: 60px;
    padding-top: 15px;
}

.footer-description {
    color: #FFF;
    justify-content: center;
    gap: 20px;
    font-size: 15px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
}

.footer-icon {
    width: 30px;
    height: 30px;
    display: flex;
    padding-left: 560px;
    gap: 70px;
}

.footer-condition {
    color: rgba(255, 255, 255, 0.60);
    justify-content: center;
    gap: 20px;
    display: flex;
    font-weight: 500;
    font-size: 15px;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-weight: 500;
    font-size: 10px;
    padding-bottom: 5px;
}








/* small device */

@media screen and (max-width: 576px) {

    nav,
    nav ul,
    .banner,
    .banner img {
        flex-direction: column;
    }

    .banner ul {}




}